### Creation of the dataframe

Importing libraries

In [1]:
import random # library for random number generation
import numpy as np # library for vectorized computation
import pandas as pd # library to process data as dataframes

import matplotlib.pyplot as plt # plotting library
# backend for rendering plots within the browser
%matplotlib inline 

from sklearn.cluster import KMeans 
from sklearn.datasets.samples_generator import make_blobs

print('Libraries imported.')

Libraries imported.

In [2]:
# Creation the dataframe through the wiki link
link = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
df_toronto = pd.read_html(link, header=0)[0]

In [3]:
df_toronto.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [4]:
# Remove Not assigned borough and reindexing
df_toronto = df_toronto[df_toronto.Borough != "Not assigned"].reset_index(drop=True)

# Group by the same postal code and borough transforming to df and after resetting index
df_toronto_g = df_toronto.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(lambda tags: ', '.join(tags)).to_frame().reset_index()

In [5]:
# Before changing value of Neighbourhood
df_toronto_g[df_toronto_g.Postcode == "M7A"]

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Not assigned

In [6]:
# if neighbourhood is "Not assigned" assign the value of Borough
df_toronto_g['Neighbourhood'] = np.where(df_toronto_g['Neighbourhood'] == 'Not assigned', df_toronto_g['Borough'], df_toronto_g['Neighbourhood'])

In [7]:
# After changing value of Neighbourhood
df_toronto_g[df_toronto_g.Postcode == "M7A"]

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Queen's Park

In [8]:
#Number of columns
df_toronto_g.shape

(103, 3)

## Second task

Installing geocoder

In [9]:
import sys
!{sys.executable} -m pip install geocoder

Requirement already satisfied: geocoder in /opt/conda/envs/Python36/lib/python3.6/site-packages (1.38.1)
Requirement already satisfied: six in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geocoder) (1.12.0)
Requirement already satisfied: requests in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geocoder) (2.21.0)
Requirement already satisfied: ratelim in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geocoder) (0.1.6)
Requirement already satisfied: future in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geocoder) (0.17.1)
Requirement already satisfied: click in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geocoder) (7.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->geocoder) (2019.6.16)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->geocoder) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->geocoder) (2.8)
Requirement already satisfied: decorator in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ratelim->geocoder) (4.3.2)

In [11]:
#importing csv file with coordinates
!wget -O Geospatial_Coordinates.csv https://cocl.us/Geospatial_data

--2019-07-11 18:05:08--  https://cocl.us/Geospatial_data
Resolving cocl.us (cocl.us)... 169.48.113.201
Connecting to cocl.us (cocl.us)|169.48.113.201|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2019-07-11 18:05:08--  https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.box.com (ibm.box.com)... 107.152.26.197, 107.152.27.197
Connecting to ibm.box.com (ibm.box.com)|107.152.26.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2019-07-11 18:05:08--  https://ibm.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Reusing existing connection to ibm.box.com:443.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2019-07-11 18:05:08--  https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 107.152.24.211
Connecting to ibm.ent.box.com (ibm.ent.box.com)|107.152.24.211|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!Ontaky6dMx25WTVuLQ171HpnD32GCDO7EahgeXYl8oVXirVhibCYGoRzx_mz6RTtWxDLa2bVekolUj050u_auinGfAqGJOuU2qfxXGDIv-VpepmnjCl8sZTSRNyK7xZQ7gZvdBizZ_RHyGGBnPxHWQAmJx2dCRdnHQr9MiZZvcO7IKYROixIT80nc_hHyeEK0VDbASJEgUsPBTO9yYoiSataePXA5SQ2FZqdLCeVvbeCNYeHXOY8L4wOM_g0H5z3gTPD1BqOimhX02k1t2fXl3FfZbtE0CBQytZJpL0s85ISpgaHgIz-rmRL37FOCUpK9iH3rBOkJwEsv3Y6cPBDg0ADeGD64HN1umKVdj1NiwuXxc9HquBZDin6QCio-U6lDZT-b2oHgzsWiKKJGzkmTI9x2DO9MIZiiboLNYr1tvxH-tPzBBy8O668GISHwxn1HZTRbjtblJrkQCuoozIhQJ0fATbKVoufhlsk9mfdudrhX3SYWsI_yz9LQRh5NwWdFNLj-mcH_dUQINkf4KxqqWq_pGxfwWKEkudOseR32F3coT0-JC2PzeaOQhCByWm33Vx-Chf96AqMMRexVb_xyKly2zmUQsW46_oOlCsIBR08Y1rk6X1gQGNyaNGOwdofQj_C9n1KRVYxayOaQvbthEVIXPjD6ZqoSd3V-AVOp6-oDm7gN0-EYwLBt4CWMRQqvpblDXfNCnxciSRTPUfE7G9vFD90V2SSpTneo58RPrmWOtLD8F0YEvlDQ2di5l-jM_nOBCFpkuSDJfb6n94eci3AV9soaBOerrv2czKGkDBGV92dpxge4tgKZHK1I2WcEyzh7BJEF0pVkQuvr4tBTR9x5tvISN_sipB9vtDldPX7_wXIQ2g1Nim9Ybg4xqO0ayHNV2aoUQ60KkYIaWtR_pcritkmxrHcEbaAdUFw8tXYqD2ahkTY-hwu-hlfKaXMV72KKPYWoufywkx-QnOlwR_gZMcu_nDVvw-xzwbM_u5sIrnECKUkH9DBSo5r-gmYiLdLckvzzjl3jkOgJHCynoos3MziaVS7UxuM370qm1yrKlHljV9gpQdzZGQ6yib37Bx6lf6RArRX9ZDxEdrAgemYKhg0Bl-YLLc2Qbk4LKru6Rwr9Y7G-9WgM58Q97iLGJ1O9sK_aUaQA2LGmr8KNk8c6jO5F4YLbSb3VmB2V1a41TfqD94kWYkgDAnXHD8ThJqpaFnr8TbaPJHmlJD7kCLALbHidXHzrTMrkh7RVe2b6vALkjI9qs7g5bqyZ7hfaz2gkUhVkJ7H_FD1Sjf9f0JTn4H5fW1yJFCoIglL50EOhq3RZ8fuzfnhwzu04Ep5hHZrmtavr8uuHpo656_b2PtI5rYdeBbRazf_IJu3kx9KgTLbBlrNE_8./download [following]
--2019-07-11 18:05:09--  https://public.boxcloud.com/d/1/b1!Ontaky6dMx25WTVuLQ171HpnD32GCDO7EahgeXYl8oVXirVhibCYGoRzx_mz6RTtWxDLa2bVekolUj050u_auinGfAqGJOuU2qfxXGDIv-VpepmnjCl8sZTSRNyK7xZQ7gZvdBizZ_RHyGGBnPxHWQAmJx2dCRdnHQr9MiZZvcO7IKYROixIT80nc_hHyeEK0VDbASJEgUsPBTO9yYoiSataePXA5SQ2FZqdLCeVvbeCNYeHXOY8L4wOM_g0H5z3gTPD1BqOimhX02k1t2fXl3FfZbtE0CBQytZJpL0s85ISpgaHgIz-rmRL37FOCUpK9iH3rBOkJwEsv3Y6cPBDg0ADeGD64HN1umKVdj1NiwuXxc9HquBZDin6QCio-U6lDZT-b2oHgzsWiKKJGzkmTI9x2DO9MIZiiboLNYr1tvxH-tPzBBy8O668GISHwxn1HZTRbjtblJrkQCuoozIhQJ0fATbKVoufhlsk9mfdudrhX3SYWsI_yz9LQRh5NwWdFNLj-mcH_dUQINkf4KxqqWq_pGxfwWKEkudOseR32F3coT0-JC2PzeaOQhCByWm33Vx-Chf96AqMMRexVb_xyKly2zmUQsW46_oOlCsIBR08Y1rk6X1gQGNyaNGOwdofQj_C9n1KRVYxayOaQvbthEVIXPjD6ZqoSd3V-AVOp6-oDm7gN0-EYwLBt4CWMRQqvpblDXfNCnxciSRTPUfE7G9vFD90V2SSpTneo58RPrmWOtLD8F0YEvlDQ2di5l-jM_nOBCFpkuSDJfb6n94eci3AV9soaBOerrv2czKGkDBGV92dpxge4tgKZHK1I2WcEyzh7BJEF0pVkQuvr4tBTR9x5tvISN_sipB9vtDldPX7_wXIQ2g1Nim9Ybg4xqO0ayHNV2aoUQ60KkYIaWtR_pcritkmxrHcEbaAdUFw8tXYqD2ahkTY-hwu-hlfKaXMV72KKPYWoufywkx-QnOlwR_gZMcu_nDVvw-xzwbM_u5sIrnECKUkH9DBSo5r-gmYiLdLckvzzjl3jkOgJHCynoos3MziaVS7UxuM370qm1yrKlHljV9gpQdzZGQ6yib37Bx6lf6RArRX9ZDxEdrAgemYKhg0Bl-YLLc2Qbk4LKru6Rwr9Y7G-9WgM58Q97iLGJ1O9sK_aUaQA2LGmr8KNk8c6jO5F4YLbSb3VmB2V1a41TfqD94kWYkgDAnXHD8ThJqpaFnr8TbaPJHmlJD7kCLALbHidXHzrTMrkh7RVe2b6vALkjI9qs7g5bqyZ7hfaz2gkUhVkJ7H_FD1Sjf9f0JTn4H5fW1yJFCoIglL50EOhq3RZ8fuzfnhwzu04Ep5hHZrmtavr8uuHpo656_b2PtI5rYdeBbRazf_IJu3kx9KgTLbBlrNE_8./download
Resolving public.boxcloud.com (public.boxcloud.com)... 107.152.26.200
Connecting to public.boxcloud.com (public.boxcloud.com)|107.152.26.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2891 (2.8K) [text/csv]
Saving to: ‘Geospatial_Coordinates.csv’

100%[======================================>] 2,891       --.-K/s   in 0s

2019-07-11 18:05:10 (437 MB/s) - ‘Geospatial_Coordinates.csv’ saved [2891/2891]

In [13]:
# create df with geospatial coordinates
df_coordinates = pd.read_csv("Geospatial_Coordinates.csv")

In [15]:
df_coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [24]:
# Adding two new columns
df_toronto_g['Latitude'] = None
df_toronto_g['Longitude'] = None

In [33]:
# For each Postal Code of the dataframe df_toronto add Latitude and Longitude (from df_coordinates)
for i in range(len(df_toronto_g)):
    post_code = df_toronto_g.Postcode[i]
    df_toronto_g.Latitude[i] = float(df_coordinates[df_coordinates['Postal Code'] == post_code].Latitude)
    df_toronto_g.Longitude[i] = float(df_coordinates[df_coordinates['Postal Code'] == post_code].Longitude)

In [34]:
df_toronto_g.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.8067,-79.1944
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.7845,-79.1605
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.7636,-79.1887
3,M1G,Scarborough,Woburn,43.771,-79.2169
4,M1H,Scarborough,Cedarbrae,43.7731,-79.2395

In [36]:
df_toronto_g[df_toronto_g.Postcode == "M5A"]

   Postcode           Borough              Neighbourhood Latitude Longitude
53      M5A  Downtown Toronto  Harbourfront, Regent Park  43.6543  -79.3606